.paper {
  border-radius: size(border-radius);
  background-color: var(--c-layout--paper);
  box-shadow: 0.4rem 0.4rem 1rem 0 rgba(var(--c-layout--shadow-rgb), 0.15);
}

.paper--inverted {
  background-color: var(--c-layout--paper-inverted);
  color: var(--c-text--inverted);
  box-shadow: 0.4rem 0.4rem 1rem 0 rgba(var(--c-layout--shadow-rgb), 0.15);
}