.dialogue__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--c-layout--backdrop-rgb), 0.9);

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.dialogue__backdrop--open {
  display: flex;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  @include bp(phone) {
    display: block;
  }
}

.dialogue {
  display: none;
}

.dialogue__backdrop--open .dialogue {
  display: flex;
  flex-direction: column;

  @include bp(phone) {
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 100%;
    max-height: none;
    border-radius: 0;
    box-sizing: border-box;
  }
}

.dialogue__title {
  flex: 0 0 auto;
  padding: size(bezel) size(bezel);
}

.dialogue--divider .dialogue__title {
  border-bottom: size(line) solid var(--c-layout--line);
}

.dialogue__content {
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: size(bezel) size(bezel);
}

.dialogue__content__text {
  max-width: 600px;

  @include bp(phone) {
    max-width: inherit;
  }
}

.dialogue__actions {
  flex: 0 0 auto;
  padding: size(bezel) size(bezel);
}

.dialogue--divider .dialogue__actions {
  border-top: size(line) solid var(--c-layout--line);
}

@keyframes fadeIn
{
  0%   { opacity: 0; visibility: hidden; }
  1%   { opacity: 0; visibility: visible; }
  100% { opacity: 1; visibility: visible; }
}

// @keyframes fadeOut
// {
//   0%   { opacity: 1; visibility: visible; }
//   99%  { opacity: 1; visibility: visible; }
//   100% { opacity: 0; visibility: hidden; }
// }