.input {
  font-size: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: size(line) solid transparent;

  position: relative;
  vertical-align: top;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  @include typo(form);

  padding: size(field-bezel);
  width: 100%;
  box-sizing: border-box;
  border-radius: size(border-radius);
  background-color: var(--c-interaction--input);
  border-color: var(--c-layout--line);
  color: var(--c-text--default);
}

input:focus {
	outline: 0;
}

.input.success {
  border-color: var(--c-interaction--input-success);
}
.input.error {
  border-color: var(--c-interaction--input-error);
}

.input--medium {
  font-size: 1.25rem;
}

.input-button {
  // Reset style
}